

<h4>These are the services we provide</h4>

<ol>
    <li>
        Diagnosis and treatment of illnesses and injuries: This can include physical exams, laboratory tests, and imaging services.
    </li>
    <li>
        Preventive care: Immunizations, screenings for diseases like cancer, and health risk assessments.
    </li>
    <li>
        Chronic disease management: For patients with ongoing health problems, such as diabetes or heart disease.
    </li>
    <li>
        Pediatrics: Well-child visits, immunizations, and treatment for common childhood illnesses.
    </li>
    <li>
        Urgent care: Urgent care services for patients who need prompt attention for illnesses or injuries that are not life-threatening but still require prompt medical attention.
    </li>
</ol>
 
@code {

}
