@page "/prescmeds/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]


<h3 class="card-title">Prescribe Med</h3>

@if (PrescMeds == null)
{
<div class="alert alert-info">Loading PrescMeds...</div> }
            else
            {
<table class="table table-responsive">
    <thead>
        <tr>
            <th>MedQty</th>
            <th>Dosage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prescMed in PrescMeds)
        {
        <tr>
            <td>@prescMed.Id</td>
            <td>@prescMed.MedQty</td>
            <td>@prescMed.Dosage</td>
            <td>
                <a href="/prescMeds/view/@prescMed.Id" class="btn btn-primary">
                    <span class="oi oi-book"></span>
                </a>
                <a href="/prescMeds/edit/@prescMed.Id" class="btn btn-warning">
                    <span class="oi oi-pencil"></span>
                </a>
                <button class="btn btn-danger" @onclick="@(()=>Delete(prescMed.Id))">
                    <span class="oi oi-delete"></span>
                </button>
            </td>
        </tr>}
    </tbody>
</table>}

@code {
    private List<PrescMed> PrescMeds;

    protected async override Task OnInitializedAsync()
    {
        PrescMeds = await _client.GetFromJsonAsync<List<PrescMed>>($"{Endpoints.PrescMedsEndpoint}");
    }

    async Task Delete(int PrescMedId)
    {
        var PrescMed = PrescMeds.First(q => q.Id == PrescMedId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {PrescMed.MedQty}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.PrescMedsEndpoint}/{PrescMedId}");
            await OnInitializedAsync();
        }
    }

}
