@page "/"

<h2>Welcome to First Medical Clinic</h2>
<hr />

<h4>About Us</h4>
<p>
    <h5>Our Mission</h5><br />
               <ul>
                   To create a healthy future for our patients and communities by delivering the highest standard of patient-centered care with compassion, integrity, and respect
               </ul>
                   <br /><hr />
               
    <br />
    <h5>Our values</h5><br />
              <ul>
                  <li>Compassion:
                  <br />
                  We prioritize the comfort and well-being of our patients and provide care with empathy, kindness, and understanding.</li>
                  <br />
                  <li>Accessibility:
                  <br />
                  We make healthcare services accessible to all, regardless of their ability to pay, and work to eliminate barriers to care.</li>
                  <br />
                  <li>Integrity:
                  <br />
                  Clinics should act with honesty and transparency, and maintain the highest ethical standards in all their interactions with patients and the public.</li>
                  <br />

              </ul>

</p>
<hr />

<h4>Announcements</h4>
<ol>
    <li>
         Our clinic is now offering virtual visits for your convenience! Book your appointment today
    </li>
    <li>
        For the safety of our patients and staff, we strongly encourage all visitors to wear masks while in our clinic. Thank you for your cooperation
    </li>
</ol>
<hr />



<ServicesContentComponent />
